#addNew {
  position: relative;
  padding: 2rem;
  /* border: 1px solid red; */
  box-sizing: border-box;
  /* height: 100vh; */
}

.flex #addNew {
  flex-grow: 1;
  overflow: hidden;
}

#addNew.flex {
  justify-content: center;
}

#addNew > * {
  margin-right: 1rem;
  /* overflow-y: scroll; */
}

#addNew form {
  position: relative;
  width: 75vw;
  max-width: 480px;
  /* height: 100vh; */
  /* padding: 1em; */
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--outside);
  overflow-y: scroll;
}

#addNew form .form-wrapper{
  position: relative;
  padding: 1em;
  box-sizing: border-box;
  border-color: var(--green);
}

#addNew form .form-wrapper > * {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}

#addNew form h3 {
  align-self: stretch;
  position: sticky;
  top: 0;
  margin: 0;
  padding-block: 1.5em;
  background-color: var(--dark);
  text-align: center;
  z-index: 1000;
}

#addNew label span {
  text-transform: uppercase;
  font-size: small;
}

#addNew label span+*{
  margin-top: 2px;
}

/* #addNew input {
  display: block;
  padding: .5em;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--inside);
} */

/* #addNew input::selection{
  background-color: var(--green);
  color: black;
} */

/* #addNew .select-box {
  
  text-transform: uppercase;
  border: 2px solid var(--green);
  border-radius: var(--inside);
} */