.calendar {
  padding: 1rem;
  border: var(--input) {
    radius: var(--outside);
  }

  &:global {
    &.grid {
      grid-template-columns: repeat(7, 1fr);
      // row-gap: 1ch;
    }
  }

  .head {
    cursor: pointer;
    position: relative;
    grid-column: span 7;
    text-align: center;
    justify-content: space-between;

    .month {
      &::after {
        content: attr(data-year);
        font-size: small;
        color: var(--mid);
      }
    }

    .prev,
    .next {
      // align-self: stretch;
      height: 100%;
      aspect-ratio: 1/1;
      font: {
        family: var(--symbols);
        weight: normal;
        size: 1.5rem;
      }
      letter-spacing: normal;
      transition: 0.1s ease-out;

      &:hover {
        color: var(--brite);

        &::before {
          transform: scale(1.1);
          transform-origin: center;
        }
      }

      &::before {
        content: "<";
        position: absolute;
        line-height: 1;
      }
    }

    .next {
      transform: scaleX(-1);
    }

    // .prev::before {
    //   content: "<";
    // }

    // .next::before {
    //   content: ">";
    // }
  }

  .header {
    margin-bottom: 1ch;
    padding-inline: 0.5em;
    color: var(--brite);
    text-transform: uppercase;
    font-size: small;
    border-bottom: 1px solid var(--mid);
    user-select: none;
  }

  .padding {
    cursor: default;
    opacity: 0.25;
  }

  .day {
    position: relative;

    &::before {
      content: attr(data-date);
    }

    &:not(.padding) {
      cursor: pointer;
      margin: 2px;
      padding: 0.1rem;
      aspect-ratio: 4/3;
      border: 2px solid transparent {
        radius: 2px;
      }
      transition: 0.1s ease-out;

      &:global {
        &.today {
          // border-color: var(--mid);
          color: var(--brite);
          // transform: scale(1.25);

          &::after {
            content: "";
            position: absolute;
            height: 100%;
            aspect-ratio: 1/1;
            border: var(--input) {
              radius: 50%;
            }
            opacity: 0.25;
          }
        }
        &.selected {
          color: var(--pop);
        }

        &.not-selected:hover {
          color: var(--brite);
          transform: scale(1.1);
          // background-color: var(--mid);
          // color: var(--darkest);
          // border-color: var(--mid);
        }
      }
    }
  }
}
