#database-view {
  overflow: hidden;
}

#database-view-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100vw;
  max-width: 1280px;
  padding: 1rem;
  overflow: hidden;
}

.flex #database-view-wrapper {
  flex-grow: 1;
}

#database-view-wrapper.grid {
  grid-template-columns: 240px 1fr;
  grid-template-rows: 3rem 1fr;
  gap: 1rem;
}

#database-view-wrapper > * {
  /* background-color: var(--mint);
  color: var(--dark); */
  border: 2px solid var(--green);
  border-radius: var(--inside);
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* --------- COLLECTION SELECTOR --------- */

#collection-select .select-box{
  flex-grow: 1;
}

#collection-select .select-box .wrapper {
  border: none;
}

/* ----------- COLLECTION DATA ----------- */

#database-view-wrapper #collection-data {
  /* padding-inline: 1em; */
  padding: .5em;
}

#collection-data .data-cache {
  flex-grow: 1;
  text-align: left;
}

#collection-data .data-cache > * {
  margin-right: 1em;
}

#collection-data .add-new {
  align-self: stretch;
  /* margin-block: .5em; */
  padding-inline: 1em;
  /* background-color: var(--green);
  color: var(--dark); */
  text-transform: uppercase;
  border: 1.5px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  transition: .1s ease-out;
}

#collection-data .add-new::before {
  content: var(--plus);
  margin-right: .5em;
}

/* ----------- ENTRY DATA ----------- */

#entry-data {
  padding: 1rem;
  text-align: left;
  overflow-y: scroll;
  /* overflow: hidden; */
  box-sizing: border-box;
}

/* ========== ENTRY HEADER ========== */

#entry-header {
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--green);
}

#entry-header.flex {
  justify-content: space-between;
  align-items: flex-end;
}

.flex #entry-title {
  flex-grow: 1;
}

#entry-title > *{
  margin: 0;
}

#entry-name {
  font-size: larger;
}

#entry-id {
  font-weight: normal;
  font-size: .9rem;
}

#entry-id::before {
  content: "id: ";
  text-transform: uppercase;
  font-size: small;
  color: var(--mint);
}

#entry-header .button-cache button{
  cursor: pointer;
  transition: .1s ease-out;
  padding: 0;
  opacity: 0;
  transition: .1s ease-out;
}

#entry-header .button-cache > :not(:last-child){
  margin-right: 1em;
}

/* ========== ENTRY CONTENT BODY ========== */

#entry-content-body {
  padding-block: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* ========== ENTRY FIELDS ========== */

#entry-fields {
  padding-left: 1ch;
  overflow-y: scroll;
  box-sizing: border-box;
}

#entry-data #entry-fields ul {
  margin:0;
  padding-left: 1em;
}

#entry-data li {
  max-width: 480px;
}

#entry-data li strong {
  margin-right: .5em;
  font-weight: 400;
  font-variant: small-caps;
  color: var(--mint);
}

#entry-data li strong::after{
  content:":"
}

#entry-data ul input[type="checkbox"]+ul{
  max-height: 0;
  overflow: hidden;
}

#entry-data ul input[type="checkbox"]:checked+ul{
  max-height: none;
}

#entry-data .dropdown>label>strong {
  cursor: pointer;
  position: relative;
  height: 1em;
}

#entry-data .dropdown>label>strong::before {
  --size: .5em;
  --border: 2px solid var(--green);
  content:"";
  display: block;
  position: absolute;
  left: -1em;
  top: 50%;
  width: var(--size);
  height: var(--size);
  border-top: var(--border);
  border-right: var(--border);
  border-top-right-radius: 2px;
  transform: translateY(-50%) rotate(45deg);
  box-sizing: border-box;
}

/* ====================================== **
|| HOVER
** ====================================== */
@media (hover:hover){
  #collection-data .add-new:hover {
    border-color: var(--green);
  }

  #entry-header:hover .button-cache button {
    opacity: .75;
  }

  #entry-header .button-cache button:hover {
    opacity: 1;
  }
}