.record {
  position: relative;
  // flex-grow: 1;
  width: calc(var(--chunk) / 2);
  overflow: hidden auto;

  .form-wrapper {
    position: relative;
    border-color: var(--mid);

    & > * {
      display: block;
      margin-bottom: 1em;
      text-align: left;
    }

    h3 {
      align-self: stretch;
      position: sticky;
      top: 0;
      margin: 0;
      padding-block: 1.5em;
      background-color: var(--darkest);
      text-align: center;
      z-index: 1000;
    }
  }

  label span {
    text-transform: uppercase;
    font-size: small;

    & + * {
      margin-top: 2px;
    }
  }
}
