.form {
  flex-grow: 1;
  overflow: hidden;
  // border: 1px solid red;

  &:global {
    &.exo {
      padding-inline: 2rem;
    }
  }

  .body {
    overflow: hidden scroll;
    min-width: 50%;

    &:global {
      &.summary {
        margin-right: 1rem;
        padding-right: 1rem;
      }

      & > *:not(button):not(.inactive) {
        margin-bottom: 1rem;
      }
    }

    button {
      outline: none;

      &[type="submit"] {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.input {
  appearance: none;
  display: block;
  background-color: transparent;
  color: inherit;
  padding: 0.5em;
  font-family: var(--bodyFont);
  font-size: 1rem;
  box-sizing: border-box;
  outline: inherit;
  border: var(--input);
  border-radius: var(--inside);
}

.input[type="text"],
.input[type="number"] {
  width: 100%;
}

.flex input:not([type="radio"]:not([type="checkbox"])) {
  flex-grow: 1;
  align-self: stretch;
}

.input::placeholder {
  color: inherit;
  /* font-family: var(--bodyFont); */
  opacity: 0.5;
  /* font-family: initial; */
  font-style: italic;
}

/* form.custom-form input[type="radio"]{
  border-radius: 50% !important;
} */

.legend {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.label {
  position: relative;
  display: block;
}

.textarea {
  appearance: none;
  display: block;
  width: 100%;
  padding: 0.5em;
  resize: vertical;
  background-color: transparent;
  font-family: var(--bodyFont);
  color: inherit;
  font-size: 1rem;
  border: var(--input);
  border-radius: var(--inside);
  outline: inherit;
  box-sizing: border-box;
}

.textarea::-webkit-resizer {
  display: none;
}

.input::selection {
  background-color: var(--green);
  color: black;
}

.required::after {
  content: "*";
  color: red;
  /* font-size: 1rem; */
  padding-left: 0.25em;
}

.fieldset {
  position: relative;
}

.fieldset .legend {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
  background-color: black;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 0.5em;
}

/* ::::::::::: GROUPS ::::::::::: */

.group > label:focus-within::before {
  content: "";
  position: absolute;
  background-color: var(--mid);
  inset: 0;
  opacity: 0.05;
}

.group > label.col {
  flex-direction: column-reverse;
}

.group input {
  padding: 0;
  padding-bottom: 0.25em;
  border: none;
  border-bottom: 1px solid var(--mid);
  border-radius: 0;
}

.group > .choice-box {
  padding: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--mid);
}

.group > .choice-box legend {
  text-align: center;
}
