
button {
  outline: none;
}

input {
  appearance: none;
  display: block;
  background-color: transparent;
  color: inherit;
  padding: .5em;
  font-family: var(--bodyFont);
  font-size: 1rem;
  box-sizing: border-box;
  outline: inherit;
  border: 2px solid var(--green);
  border-radius: var(--inside);
}

input[type="text"],
input[type="number"]{
  width: 100%;
}

.flex input:not([type="radio"]:not([type="checkbox"])) {
  flex-grow: 1;
  align-self: stretch;
}

::placeholder {
  color: inherit;
  /* font-family: var(--bodyFont); */
  opacity: .5;
  /* font-family: initial; */
  font-style: italic;
}

/* form.custom-form input[type="radio"]{
  border-radius: 50% !important;
} */

legend {
  font-size: small;
  text-transform: uppercase;
  letter-spacing: .1em;
}

label {
  position: relative;
  display: block;
}

textarea {
  appearance: none;
  display: block;
  width: 100%;
  padding: .5em;
  resize: vertical;
  background-color: transparent;
  font-family: var(--bodyFont);
  color: inherit;
  font-size: 1rem;
  border: 2px solid var(--green);
  border-radius: var(--inside);
  outline: inherit;
  box-sizing: border-box;
}

textarea::-webkit-resizer {
  display: none;
}

::selection {
  background-color: var(--green);
  color: black;
}

.required::after {
  content:"*";
  color: red;
  /* font-size: 1rem; */
  padding-left: .25em;
}

.fieldset {
  position: relative;
}

.fieldset .legend {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1em;
  background-color: black;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 .5em;
}

/* ::::::::::: GROUPS ::::::::::: */

.group > label:focus-within::before {
  content: "";
  position: absolute;
  background-color: var(--pop);
  inset: 0;
  opacity: .05;
}

.group > label.col {
  flex-direction: column-reverse;
}

.group input {
  padding: 0;
  padding-bottom: .25em;
  border: none;
  border-bottom: 1px solid var(--pop);
  border-radius: 0;
}

.group > .choice-box {
  padding: 0;
  border-radius: 0;
  border: none;
  border-top: 1px solid var(--pop);
}

.group>.choice-box legend {
  text-align: center;
}