.form-preview {
  position: relative;
  /* top:1rem; */
  /* background-color: var(--green);
  color: var(--dark); */
  /* margin-top: .5em; */
  width: 480px;
  overflow: hidden;
  border: 2px solid var(--green);
  border-radius: var(--outside);
  padding-bottom: 2em;
  text-align: left;
  box-sizing: border-box;
  transition: .2s ease-out;
}

/* .flex .form-preview {
  align-self: flex-start;
} */

.form-preview legend {
  text-align: center;
}

.flex .form-preview h3 {
  /* font-family: var(--keyFont2); */
  text-align: center;
}

.form-preview .wrapper {
  flex-grow: 1;
  padding: 1em 1.5em 1em 2em;
  box-sizing: border-box;
  overflow-y: scroll;
}

.form-preview .wrapper ul {
  margin: 0;
}

.form-preview .wrapper ul ul {
  padding-left: 1em;
}

.form-preview .wrapper ul li.dropdown > label > strong {
  cursor: pointer;
  position: relative;
}

.form-preview .wrapper ul li.dropdown > label > strong::before {
  --size: .5em;
  --border: 2px solid var(--dark);
  content: "";
  position: absolute;
  top: .5em;
  left: -2ch;
  display: block;
  width: var(--size);
  height: var(--size);
  /* background-color: silver; */
  transform: rotate(45deg);
  border-top: var(--border);
  border-right: var(--border);
  border-top-right-radius: 3px;
  box-sizing: border-box;
  transition: .1s ease-out;
}


.form-preview .wrapper input:checked~strong::before{
  transform: rotate(135deg);
}

.form-preview .wrapper ul li strong {
  /* color: var(--mint);
  text-shadow: 1px 1px 1px var(--shadow); */
  font-size: .9rem;
  font-weight: normal;
  font-variant: small-caps;
  /* opacity: .75; */
  letter-spacing: normal;
}

.form-preview .wrapper ul li strong::after {
  content: ":";
  margin-right: 1ch;
}

.form-preview .wrapper input:not(:checked)+ul{
  max-height: 0;
  overflow: hidden;
}

.form-preview button[type="submit"]{
  cursor: pointer;
  align-self: center;
  padding: 1em;
  text-transform: uppercase;
  font-family: var(--keyFont2);
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: var(--inside);
  transition: .1s ease-out;
}

#addNew .form-preview .form-preview-entry:not(.fade) {
  color: var(--mint);
  text-transform: none;
  font-size: 1rem;
  text-shadow: 1px 1px 1px var(--shadow);
}

.form-preview button.cancel-button {
  /* font-size: small; */
  text-transform: lowercase;
  font-variant: small-caps;
  opacity: .25;
  transition: .1s ease-out;
}

.flex .form-preview button.cancel-button {
  align-self: center;
}

@media(hover:hover){
  .form-preview button[type="submit"]:hover{
    /* background-color: var(--dark);
    color: var(--green); */
    border-color: var(--green);
  }

  .form-preview button.cancel-button:hover {
    opacity: 1;
  }
}
