.wrap {
  /* justify-content: center; */
  margin-block: 1rem;

  .cache {
    margin-bottom: 1em;

    .star {
      --size: 1rem;
      cursor: pointer;
      position: relative;
      width: var(--size);
      height: var(--size);
      transition: fill 0.1s ease-out, transiiton 0.1s ease-out;

      &:global {
        &.shine {
          svg {
            fill: var(--mid);
            stroke: transparent;
          }

          &.selected {
            transform: scale(1.15);

            svg {
              fill: var(--brite);
            }
          }
        }
      }

      &:not(:last-of-type) {
        margin-right: 0.5em;
      }

      svg {
        /* fill: var(--brite); */
        fill: none;
        stroke: var(--mid);
        stroke: {
          width: 4px;
          linecap: round;
        }
        width: 100%;
        height: 100%;
        transition: inherit;
      }
    }
  }

  .eval {
    color: var(--brite);
    font: {
      family: var(--keyFont2);
      size: smaller;
    }
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    &:global {
      &.not-rated {
        visibility: hidden;
      }
    }
  }
}
