@font-face {
  font-family: phosphate-naked;
  src: url(/assets/fonts/PhosphateNaked.otf);
}
@font-face {
  font-family: jb-webdings;
  src: url(/assets/fonts/JBWebdings-Arcan.otf);
}
@font-face {
  font-family: brands;
  src: url(/assets/fonts/Tech-Brands-2.otf);
}

:root {
  --grid: 32;
  --chunk: calc(1px * (var(--grid) * var(--grid)));
  /* ========== COLORS ========== */
  --green: #00bfa7;
  /* --mint: #8ee3d8; */
  --mint: #adebe2;
  /* ---------------------------- */
  --pop: var(--green);
  --pop-alt: coral;
  --lite: white;
  --brite: var(--mint);
  --mid: var(--green);
  --dark: black;
  --shadow: hsla(0, 0%, 0%, 0.1);
  --faint: hsla(0, 0%, 0%, 0.05);
  /* ========== FONTS ========== */
  --keyFont2: phosphate-naked, "Calibri";
  --bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --symbols: jb-webdings;
  --brands: brands;
  font-size: 18px;
  /* ========== SPECIAL CHARS ========== */
  --plus: "\254B";
  --cancel: "\2715";
  --cancel-alt: "\2573";
  --checkmark: "\2713\FE0F";
  /* ---------- VARIANT SELECTORS ---------- */
  --vary1: \FE0E;

  /* ========== BORDERS ========== */
  --inside: 5px;
  --outside: 10px;
  --input: 2px solid var(--pop);
  /* ========== SHAPES ========== */
  /* STAR CLIP SOURCE: https://www.cssportal.com/css-clip-path-generator/ */
  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  /* ========== ELEMENTS ========== */
  --header-ht: 3rem;
  /* ============================= */
  background-color: var(--dark);
}

/* ::::::::::\ SITE /:::::::::: */
* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--pop);
  color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--pop);
  font-family: var(--bodyFont);
  text-align: center;
  fill: var(--pop);
}

#siteWrapper {
  position: relative;
  min-height: 100vh;
}

#siteWrapper > .page {
  padding-top: var(--header-ht);
}

/* ::::::::::\ SCROLLBAR /:::::::::: */

::-webkit-scrollbar {
  display: none;
}

/* ::::::::::\ HEADER, FOOTER /:::::::::: */

header,
footer {
  font: {
    family: var(--keyFont2);
    weight: bold;
    size: 12px;
  }
}

.flex main {
  flex-grow: 1;
}

a,
a:visited,
a:focus,
a:hover {
  appearance: none;
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none inside none;
}

/* ::::::::::\ HEADINGS /:::::::::: */

h2,
h3,
h4 {
  font: {
    family: var(--keyFont2);
    weight: bold;
  }
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--mint);
}

/* ::::::::::\ FORM ELEMENTS /:::::::::: */

button {
  cursor: pointer;
  appearance: none;
  // padding: 0.5em 1em;
  background-color: inherit;
  color: inherit;
  // font-size: inherit;
  border: none;
  outline: none;
  transition: 0.1s ease-out;

  &:not(.symbol-font) {
    text-transform: uppercase;
    font: {
      family: var(--keyFont2);
      weight: bold;
    }
    -webkit-font-smoothing: antialiased;
  }

  &[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 0.75em;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: var(--inside);
  }

  &[type="reset"] {
    opacity: 0.5;
  }

  form & {
    .flex & {
      align-self: center;
    }

    *:not(.flex) & {
      margin-inline: auto;
    }
  }
}

.post-submit-msg {
  strong {
    color: var(--mint);
    font: {
      weight: normal;
    }

    & > em {
      color: var(--mint);
      font: {
        family: var(--keyFont2);
        size: smaller;
        weight: bold;
        style: normal;
      }
    }
  }
}

input {
  appearance: none;
  display: block;
  background-color: transparent;
  color: inherit;
  padding: 0.5em;
  font: {
    family: var(--bodyFont);
    size: 1rem;
  }
  box-sizing: border-box;
  outline: inherit;
  border: var(--input);
  border-radius: var(--inside);

  &::placeholder {
    color: inherit;
    opacity: 0.5;
    font-style: italic;
  }
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
}

.flex:not(.col) {
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    flex-grow: 1;
  }
}

.flex input:not([type="radio"]:not([type="checkbox"])) {
  flex-grow: 1;
  align-self: stretch;
}

label {
  .validate & {
    &.has-criteria {
      cursor: pointer;
    }

    // &.required {
    //   .label-text {
    //     &::after {
    //       content: "*";
    //       color: red;
    //       // font-size: 1rem;
    //     }
    //   }
    // }
  }
}

/* ::::::::::\ FLEX /:::::::::: */
.flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.reverse:not(.col) {
    flex-direction: row-reverse;
  }

  &.col {
    flex-direction: column;
  }

  &.col.reverse {
    flex-direction: column-reverse;
  }

  &.start {
    justify-content: flex-start;
  }

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

/* ::::::::::\ GRID /:::::::::: */
.grid {
  display: grid;
}

/* ::::::::::\ OTHER /:::::::::: */

.fade {
  /* font-style: italic; */
  display: block;
  // text-align: c;
  text-transform: lowercase;
  font-variant: small-caps;
  opacity: 0.5;
}

.symbol-font {
  font-family: var(--symbols);
}

.brands-font {
  font-family: var(--brands);
}

// -----------------------------------
// %%%%%%%%%%%%%\ HOVER /%%%%%%%%%%%%%
// -----------------------------------
@media (hover: hover) {
  button:not(.symbol-font):not(.brands-font):hover {
    &[type="submit"] {
      border-color: var(--pop);
    }

    &[type="reset"] {
      opacity: 1;
    }
  }
}
