@font-face {
  font-family: phosphate-naked;
  src: url(/assets/fonts/PhosphateNaked.otf);
}
@font-face {
  font-family: jb-webdings;
  src: url(/assets/fonts/JBWebdings.otf);
}
@font-face {
  font-family: brands;
  src: url(/assets/fonts/Tech-Brands-2.otf);
}

:root {
  --grid: 32;
  --chunk: calc(1px * (var(--grid) * var(--grid)));
  /* ========== COLORS ========== */
  --green: #00bfa7;
  /* --mint: #8ee3d8; */
  --mint: #adebe2;
  /* ---------------------------- */
  --pop: var(--green);
  --lite: white;
  --brite: var(--mint);
  --pop-alt: red;
  --dark: black;
  --shadow: hsla(0, 0%, 0%, 0.1);
  --faint: hsla(0, 0%, 0%, 0.05);
  /* ========== FONTS ========== */
  --keyFont2: phosphate-naked, "Calibri";
  --bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --symbols: jb-webdings;
  --brands: brands;
  font-size: 18px;
  /* ========== SPECIAL CHARS ========== */
  --plus: "\254B";
  --cancel: "\2573";
  /* ========== BORDERS ========== */
  --inside: 5px;
  --outside: 10px;
  /* ========== SHAPES ========== */
  /* STAR CLIP SOURCE: https://www.cssportal.com/css-clip-path-generator/ */
  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  /* ========== ELEMENTS ========== */
  --header-ht: 3rem;
  /* ============================= */
  background-color: var(--dark);
}

/* ::::::::::\ SITE /:::::::::: */
* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--pop);
  color: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--pop);
  font-family: var(--bodyFont);
  text-align: center;
  fill: var(--pop);
}

#siteWrapper {
  position: relative;
  min-height: 100vh;
}

#siteWrapper > .page {
  padding-top: var(--header-ht);
}

/* ::::::::::\ SCROLLBAR /:::::::::: */

::-webkit-scrollbar {
  display: none;
}

/* ::::::::::\ HEADER, FOOTER /:::::::::: */

header,
footer {
  font-family: var(--keyFont2);
  font-weight: bold;
  font-size: 12px;
}

.flex main {
  flex-grow: 1;
}

a,
a:visited,
a:focus,
a:hover {
  appearance: none;
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  border: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none inside none;
}

/* ::::::::::\ HEADINGS /:::::::::: */

h2,
h3,
h4 {
  font-family: var(--keyFont2);
  font-weight: normal;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--mint);
}

h4 {
  /* font-size: 1rem; */
  font-weight: normal;
}

/* ::::::::::\ FLEX /:::::::::: */
.flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.reverse:not(.col) {
    flex-direction: row-reverse;
  }

  &.col {
    flex-direction: column;
  }

  &.col.reverse {
    flex-direction: column-reverse;
  }

  &.start {
    justify-content: flex-start;
  }

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}

/* ::::::::::\ GRID /:::::::::: */
.grid {
  display: grid;
}

/* ::::::::::\ OTHER /:::::::::: */

.fade {
  /* font-style: italic; */
  display: block;
  text-align: c;
  text-transform: lowercase;
  font-variant: small-caps;
  opacity: 0.5;
}

.symbol-font {
  font-family: var(--symbols);
}

.brands-font {
  font-family: var(--brands);
}
