@font-face {
  font-family: phosphate-naked;
  src: url(/assets/fonts/PhosphateNaked.otf);
}
@font-face {
  font-family: jb-webdings;
  src: url(/assets/fonts/JBWebdings-Arcan.otf);
}
@font-face {
  font-family: brands;
  src: url(/assets/fonts/Tech-Brands-2.otf);
}

:root {
  --grid: 32;
  --chunk: calc(1px * (var(--grid) * var(--grid)));
  /* ========== COLORS ========== */
  --green: #00bfa7;
  --darkGreen: #081f24;
  --darkerGreen: #00181c;
  --mint: #adebe2;
  // --turq: hsl(191, 90%, 50%);
  --turq: hsl(185, 75%, 50%);
  /* ---------------------------- */
  --pop: coral;
  --pop-alt: coral;
  --lite: white;
  --brite: var(--mint);
  --mid: var(--green);
  --mid-alt: var(--turq);
  --dark: var(--darkGreen);
  --darker: var(--darkerGreen);
  --darkest: black;
  --shadow: hsla(0, 0%, 0%, 0.1);
  --faint: hsla(0, 0%, 0%, 0.05);
  /* ========== FONTS ========== */
  --keyFont2: phosphate-naked, "Calibri";
  --bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --symbols: jb-webdings;
  --brands: brands;
  font-size: 18px;
  /* ========== SPECIAL CHARS ========== */
  --plus: "\254B";
  --cancel: "\2715";
  --cancel-alt: "\2573";
  --checkmark: "\2713\FE0F";
  /* ---------- VARIANT SELECTORS ---------- */
  --vary1: \FE0E;

  /* ========== BORDERS ========== */
  --inside: 5px;
  --outside: 10px;
  --input: 2px solid currentColor;
  /* ========== SHAPES ========== */
  /* STAR CLIP SOURCE: https://www.cssportal.com/css-clip-path-generator/ */
  --star: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  /* ========== ELEMENTS ========== */
  --header-ht: 3rem;
  /* ============================= */
  background-color: var(--darkest);
}

/* ::::::::::\ SITE /:::::::::: */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--mid);
  color: var(--darkest);
}

body {
  margin: 0;
  padding: 0;
  color: var(--mid);
  font-family: var(--bodyFont);
  text-align: center;
  fill: var(--mid);

  &.modal-lock {
    overflow: hidden;
  }
}

#siteWrapper {
  position: relative;
  height: 100vh;

  & > .page {
    padding-top: var(--header-ht);
  }
}

/* ::::::::::\ SCROLLBAR /:::::::::: */

::-webkit-scrollbar {
  --size: 0.75rem;
  width: var(--size);
  height: var(--size);

  &-thumb {
    cursor: grab;
    background: var(--mid) {
      clip: content-box;
    }
    border: 3px solid transparent {
      radius: 100px;
    }
  }

  &-corner {
    background: transparent;
  }
}

.hide-scroller {
  &::-webkit-scrollbar {
    display: none;
  }
}

/* ::::::::::\ HEADER, FOOTER /:::::::::: */

header,
footer {
  font: {
    family: var(--keyFont2);
    weight: bold;
    size: 12px;
  }
}

.flex main {
  flex-grow: 1;
}

a,
a:visited,
a:focus,
a:hover {
  appearance: none;
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none inside none;
}

/* ::::::::::\ HEADINGS /:::::::::: */

h2,
h3,
h4 {
  font: {
    family: var(--keyFont2);
    weight: bold;
  }
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
}

h2 {
  color: var(--mint);
}

// ::::::::::\ FORM ELEMENTS /::::::::::

// :-------------| BUTTON |-------------
button {
  cursor: pointer;
  appearance: none;
  // padding: 0.5em 1em;
  background-color: inherit;
  color: inherit;
  // font-size: inherit;
  border: none;
  outline: none;
  transition: 0.1s ease-out;

  &:not(.symbol-font) {
    text-transform: uppercase;
    font: {
      family: var(--keyFont2);
      weight: bold;
    }
    -webkit-font-smoothing: antialiased;
  }

  &[type="submit"] {
    display: block;
    margin-top: 1em;
    padding: 0.75em;
    font-size: 1rem;
    border: 2px solid transparent {
      radius: var(--inside);
    }
  }

  &[type="reset"] {
    opacity: 0.5;
  }

  form & {
    .flex & {
      align-self: center;
    }

    *:not(.flex) & {
      margin-inline: auto;
    }
  }
}

.post-submit-msg {
  strong {
    color: var(--mint);
    font: {
      weight: normal;
    }

    & > em {
      color: var(--mint);
      font: {
        family: var(--keyFont2);
        size: smaller;
        weight: bold;
        style: normal;
      }
    }
  }
}

// :-------------| INPUT |-------------

input {
  appearance: none;
  display: block;
  background-color: transparent;
  color: inherit;
  padding: 0.5em;
  font: {
    family: var(--bodyFont);
    size: 1rem;
  }
  outline: inherit;
  border: none;

  &::placeholder {
    color: inherit;
    opacity: 0.5;
    font-style: italic;
  }
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
}

.flex:not(.col) {
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    flex-grow: 1;
  }
}

.flex input:not([type="radio"]:not([type="checkbox"])) {
  flex-grow: 1;
  align-self: stretch;
}

// fieldset > label > .input-container {
//   input {
//     padding: 0 {
//       bottom: 0.25em;
//     }
//   }

//   border: none !important   {
//     bottom: 1px solid var(--mid) !important;
//     radius: 0 !important;
//   }
// }

label {
  .validate & {
    &.has-criteria {
      cursor: pointer;
    }
  }
}

.select-other {
  transition: 0.1s ease-out;

  &.inactive {
    // position: absolute;
    opacity: 0;
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &.active {
    opacity: 1;
  }
}

fieldset {
  appearance: none;
  margin: 0;
  min-inline-size: auto;
}

/* ::::::::::\ FLEX /:::::::::: */
.flex {
  display: flex;

  &.inline {
    display: inline-flex;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.reverse:not(.col) {
    flex-direction: row-reverse;
  }

  &.col {
    flex-direction: column;

    .reverse {
      flex-direction: column-reverse;
    }
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.middle {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.baseline {
    align-items: baseline;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.justify {
    justify-content: space-between;
  }

  .grow {
    flex-grow: 1;
  }

  .rigid {
    flex-shrink: 0;
  }
}

/* ::::::::::\ GRID /:::::::::: */
.grid {
  display: grid;

  &.center {
    place-content: center;
  }

  &.middle {
    place-items: center;
  }
}

/* ::::::::::\ OTHER /:::::::::: */

.square {
  aspect-ratio: 1/1;
}

.circle {
  @extend .square;
  border-radius: 50%;
}

.fade {
  /* font-style: italic; */
  display: block;
  // text-align: c;
  text-transform: lowercase;
  font-variant: small-caps;
  opacity: 0.5;
}

.symbol-font {
  font-family: var(--symbols);
}

.brands-font {
  font-family: var(--brands);
}

// ::::::::::\ ANIMATIONS /::::::::::
@keyframes jab {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5px);
  }
}

.jab:hover {
  animation: jab 0.5s ease-in-out infinite alternate;
}

.jab.under:hover {
  animation: inherit;
  &::before {
    animation: jab 0.5s ease-in-out infinite alternate;
  }
}

// -----------------------------------
// %%%%%%%%%%%%%\ HOVER /%%%%%%%%%%%%%
// -----------------------------------
@media (hover: hover) {
  button:not(.symbol-font):not(.brands-font):hover {
    &[type="submit"] {
      border-color: var(--mid);
    }

    &[type="reset"] {
      opacity: 1;
    }
  }
}
