/* ::::::::\ FIELDSET /:::::::: */

.custom-form fieldset {
  resize: vertical;
  margin: 0;
}

.custom-form fieldset.wrapper {
  border-radius: var(--outside);
  border-color: inherit;
  box-sizing: border-box;
}

.custom-form fieldset.wrapper>*:not(legend) {
  margin-bottom: .5em;
}

.custom-form fieldset.closed > legend {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0;
}