/* .array-set-new.closed {
  background-color: var(--pop);
  color: var(--dark);
} */

.array-set-new.closed button {
  margin: 0 !important;
  font-size: 1rem;
  font-variant: small-caps;
  font-weight: 300 !important;
  text-transform: lowercase;
  transition: .1s ease-out;
}

.array-set-new legend{
  text-align: center;
}

.add-btn {
  position: relative;
  padding: .5em 1em;
  /* background-color: var(--pop);
  color: var(--dark); */
  border: 1px solid var(--pop);
  text-transform: uppercase;
  border-radius: 2px;
  transition: .1s ease-out;
}

.flex .add-btn {
  align-self: center;
}

.array-set-entry {
  padding: .5em;
  /* background-color: var(--pop);
  color: var(--dark); */
  border: 1px solid var(--pop);
  box-sizing: border-box;
  border-radius: 2px;
}

.array-set-entry:not(:last-of-type) {
  margin-bottom: .5em;
}

.array-set-entry strong {
  /* color: var(--mint); */
  /* color: var(--dark) !important; */
  text-transform: lowercase;
  font-weight: 400;
  font-variant: small-caps;
}

.array-set-entry strong::after {
  content: ": ";
}

/* %%%%%%%%%%%%%%%/ HOVER \%%%%%%%%%%%%%%% */

@media(hover:hover){
  .array-set-new.closed:hover {
      background-color: var(--pop);
      border-style: solid;
      color: var(--dark);
  }

  .add-btn:not(.closed .add-btn):hover {
      position: relative;
      padding: .5em 1em;
      background-color: var(--pop);
      color: var(--dark);
      text-transform: uppercase;
      border-radius: 2px;
    }
}