/* ::::::::\ CHOICE BOX /:::::::: */

.choice-box {
  // width: calc(var(--chunk) / 2);
  padding: 0.5rem;
  border: var(--input);
  max-height: 240px; // TODO
  border-radius: var(--outside);
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   // display:;
  // }

  &:global {
    &.scroll {
      max-height: 10em;
      overflow-y: auto;
    }

    &.inline {
      label {
        &:not(:last-of-type) {
          margin-right: 0.5em;
        }
      }
    }

    /* ::::::::\ CHOICE BOX (COMPLEX) /:::::::: */

    &.complex {
      .wrapper {
        position: relative;
        margin-bottom: 0.25rem;
        box-sizing: border-box;
        /* border: 1px solid red; */
      }

      .entry-header {
        cursor: pointer;
        padding: 0.25rem;
        background-color: var(--green);
        color: var(--darkest);
        box-sizing: border-box;
        border-radius: var(--inside);

        &.flex {
          justify-content: space-between;
        }

        & > label {
          padding: 0;
        }

        span {
          flex-grow: 1;
        }

        .arrow {
          --size: 0.75em;
          cursor: pointer;
          position: relative;
          margin-right: 0.5em;
          padding: 0;
          width: var(--size);
          height: var(--size);
          box-sizing: border-box;
          /* background-color: white; */

          &::after {
            --border: 2px solid black;
            content: "";
            position: absolute;
            inset: 0;
            border-top: var(--border);
            border-right: var(--border);
            border-top-right-radius: 3px;
            /* transform: rotate(45deg); */
            transition: 0.2s ease-out;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  & & {
    label {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: var(--inside);
        background-color: var(--green);
        opacity: 0;
      }
    }
  }

  label {
    cursor: pointer;
    position: relative;
    padding: 0.25em;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: var(--inside);
      background-color: var(--green);
      opacity: 0;
    }

    input {
      &:not([type="text"]) {
        display: none;
      }
    }

    .ticker {
      position: relative;
      flex-grow: 0;
      margin-right: 0.5em;
      width: 1rem;
      aspect-ratio: 1/1;
      border: var(--input);
      box-sizing: content-box;

      &::before {
        content: "";
        position: absolute;
        display: block;
        inset: 3px;
        background-color: var(--green);
        transform: scale(0.5);
        transition: 0.1s ease-out;
        opacity: 0;

        // input:checked + & {
        //   transform: scale(1);
        //   opacity: 1;
        // }
      }

      &:global {
        &.radio {
          border-radius: 50%;

          &::before {
            border-radius: inherit;
          }
        }

        &.checkbox {
          border-radius: var(--inside);

          &::before {
            border-radius: 2px;
          }
        }
      }
    }
  }

  .drawer {
    /* padding-bottom: .5em; */
    overflow: hidden;
    transition: 0.2s ease-out;

    &.closed {
      max-height: 0;
      opacity: 0;
      z-index: -1;
    }

    & > :last-child {
      margin-bottom: 0.5em;
    }
  }
}

input:checked + .ticker {
  &::before {
    transform: scale(1);
    opacity: 1;
  }
}

.choice-box.complex .entry-header.open .arrow::after {
  transform: rotate(135deg);
}

.choice-box.complex .entry-header.closed .arrow::after {
  transform: rotate(45deg);
}

// -----------------------------------
// %%%%%%%%%%%%%\ HOVER /%%%%%%%%%%%%%
// -----------------------------------

@media (hover: hover) {
  .choice-box label:hover::after {
    opacity: 0.1;
  }
}
