.input {
  text-transform: uppercase;
  font: {
    family: var(--keyFont2);
    weight: bold;
    size: smaller;
  }

  &::selection {
    background-color: var(--mid);
    color: var(--darkest);
  }

  &::placeholder {
    opacity: 0.5;
  }

  svg {
    fill: var(--mid);
    stroke: var(--mid);
  }

  // ::-webkit-datetime-edit {
  // }
  // ::-webkit-datetime-edit-fields-wrapper {
  // }
  // ::-webkit-datetime-edit-text {
  // }
  // ::-webkit-datetime-edit-month-field {
  // }
  // ::-webkit-datetime-edit-day-field {
  // }
  // ::-webkit-datetime-edit-year-field {
  // }
  // ::-webkit-inner-spin-button {
  // }
  // ::-webkit-calendar-picker-indicator {
  // }
}
