.wrap {
  position: relative;

  &:global {
    &.exo {
      padding: 5px;
      border: var(--input) {
        radius: var(--inside);
      }
    }
  }

  & > *:not(:last-child) {
    margin-right: 0.25rem;
  }

  .shell {
    // border: 2px solid hsla(0, 0, 100%, 0.1);
    cursor: pointer;
    overflow-y: auto;
    height: 2em;
    padding-inline: 0.5ch;
    border-bottom: 2px solid transparent;
    // outline: 1px solid hsla(0, 0, 100%, 0.1);
    scroll-snap-type: y mandatory;
    box-sizing: content-box;
    outline: none;
    transition: 50ms linear;

    &:focus-within {
      border-bottom-color: var(--mid);
    }

    // input {
    //   // -webkit-appearance: none;
    //   --spacing: 0.5ch;
    //   -moz-appearance: textfield;
    //   appearance: none;
    //   // width: auto;
    //   padding: 0 {
    //     left: var(--spacing);
    //     block: 0.25em;
    //   }
    //   caret-color: transparent;
    //   text: {
    //     align: center;
    //     // decoration: underline;
    //   }
    //   letter-spacing: var(--spacing);
    //   border-bottom: 2px solid transparent;
    //   // border: 2px solid transparent {
    //   //   radius: 2px;
    //   // }

    //   &::-webkit-inner-spin-button,
    //   &::-webkit-outer-spin-button {
    //     appearance: none;
    //     margin: 0;
    //   }

    //   &::placeholder {
    //     font-style: normal;
    //   }

    //   &::selection {
    //     color: inherit;
    //     background-color: transparent;
    //   }

    //   &:focus-within {
    //     border-color: var(--mid);
    //   }
    // }

    .option {
      --spacing: 0.25ch;
      background-color: var(--darkest);
      height: inherit;
      scroll-snap: {
        align: center;
        stop: always;
      }
      // border: 1px solid #333;
      padding-left: var(--spacing);
      letter-spacing: var(--spacing);

      &:global {
        &.selected {
          color: var(--brite);
        }
      }

      &::selection {
        background-color: transparent;
        color: inherit;
      }
    }
  }

  span::after {
    content: "=";
    display: block;
    transform: rotate(90deg);
    line-height: 1;
    opacity: 0.5;
  }

  .widget {
    position: relative;

    .wrapper {
      position: relative;
      transform: rotate(90deg);

      button {
        padding: 0;
        font-family: var(--symbols);
        font-size: larger;
        font-weight: normal;
        opacity: 0.5;
        transition: 0.1s ease-out;

        &::before {
          content: "<";
        }

        &:hover {
          opacity: 1;
        }

        &:first-of-type {
          margin-right: 2px;
        }

        &:last-of-type {
          transform: scaleX(-1);
        }
      }
    }
  }
}

// .input {
//   text-transform: uppercase;
//   font: {
//     family: var(--keyFont2);
//     weight: bold;
//     size: smaller;
//   }

//   &::selection {
//     background-color: var(--mid);
//     color: var(--darkest);
//   }

//   &::placeholder {
//     opacity: 0.5;
//   }

//   svg {
//     fill: var(--mid);
//     stroke: var(--mid);
//   }

// ::-webkit-datetime-edit {
// }
// ::-webkit-datetime-edit-fields-wrapper {
// }
// ::-webkit-datetime-edit-text {
// }
// ::-webkit-datetime-edit-month-field {
// }
// ::-webkit-datetime-edit-day-field {
// }
// ::-webkit-datetime-edit-year-field {
// }
// ::-webkit-inner-spin-button {
// }
// ::-webkit-calendar-picker-indicator {
// }
// }
