.form-item-new {
  &:global {
    &.closed {
      .create {
        margin: 0 !important;
        font: {
          size: smaller;
          weight: 300 !important;
        }
        text-transform: uppercase;
        transition: 0.1s ease-out;
      }
    }
  }

  legend {
    text-align: center;
  }

  .add {
    position: relative;
    align-self: center;
    padding: 0.5em 1em;
    border: 1px solid var(--mid);
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.1s ease-out;
  }
}

.array-set-entry {
  padding: 0.5em;
  /* background-color: var(--mid);
  color: var(--darkest); */
  border: 1px solid var(--mid);
  border-radius: 2px;
}

.array-set-entry:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.array-set-entry strong {
  /* color: var(--mint); */
  /* color: var(--darkest) !important; */
  text-transform: lowercase;
  font-weight: 400;
  font-variant: small-caps;
}

.array-set-entry strong::after {
  content: ": ";
}

/* %%%%%%%%%%%%%%%/ HOVER \%%%%%%%%%%%%%%% */

@media (hover: hover) {
  .form-item-new.closed:hover {
    background-color: var(--mid);
    border-style: solid;
    color: var(--darkest);
  }

  .add-btn:not(.closed .add-btn):hover {
    position: relative;
    padding: 0.5em 1em;
    background-color: var(--mid);
    color: var(--darkest);
    text-transform: uppercase;
    border-radius: 2px;
  }
}
