.label {
  // margin-bottom: 1rem;

  .validate & {
    color: red;
  }

  .label-text {
    display: block;
    margin-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
    color: var(--mint);
    text: {
      align: left;
      transform: uppercase;
    }
    font: {
      family: var(--keyFont2);
      size: small;
      weight: 600;
    }
    letter-spacing: 0.1em;

    strong > em,
    em > strong {
      color: var(--pop);
    }
  }
}
