.label {
  // margin-bottom: 1rem;

  .validate & {
    color: red;
  }

  .error {
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    background-color: var(--pop);
    color: var(--dark);
    font: {
      family: var(--keyFont2);
      weight: bold;
      size: small;
    }
    text: {
      align: left;
      transform: uppercase;
    }
    border-radius: 2px;
  }

  .label-text {
    display: block;
    margin-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
    color: var(--mint);
    text: {
      align: left;
      transform: uppercase;
    }
    font: {
      family: var(--keyFont2);
      size: small;
      weight: 600;
    }
    letter-spacing: 0.1em;

    strong > em,
    em > strong {
      color: var(--pop);
    }

    &:global {
      &.has-error {
        &::after {
          content: "* " attr(data-error) !important;
          color: coral !important;
          font: {
            family: var(--bodyFont);
            weight: normal;
          }
          letter-spacing: normal;
          text-transform: none;
        }
      }
    }
  }
}
