.label {
  position: relative;
  text-align: left;

  &:global {
    &.inline {
      cursor: pointer;
    }
  }

  .validate & {
    color: red;
  }

  .error {
    display: inline-block;
    margin-left: 1ch;
    color: coral !important;
    font: {
      family: var(--bodyFont);
      weight: normal;
      size: smaller;
    }
    text: {
      align: left;
      transform: none;
    }
    letter-spacing: normal;
    line-height: 1;
    // border: 1px solid red;
  }

  .label-text {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5em;
    -webkit-font-smoothing: antialiased;
    color: var(--mint);
    text: {
      align: left;
      transform: uppercase;
    }
    font: {
      family: var(--keyFont2);
      size: small;
      weight: 600;
    }
    letter-spacing: 0.1em;
    // line-height: 1;
    // border: 1px solid purple;
    // overflow: visible;

    strong > em,
    em > strong {
      color: var(--pop);
    }

    &:global {
      &.required {
        &::after {
          content: "*";
          // color: var(--pop-alt);
          font-weight: normal;
        }

        &.validated {
          &::before {
            position: absolute;
            display: inline;
            align-items: center;
            // height: 100%;
            transform: translateX(calc(-100% - 0.5ch));
            // transform: translateX(-100%);
            font: {
              family: var(--symbols);
              weight: normal;
            }
            // text-align: right;
            // line-height: 1;
            letter-spacing: normal;
            // border: 1px solid red;
            // vertical-align: text-top;
          }

          &.no-error {
            &::before {
              content: "B";
              // content: var(--checkmark);
              color: var(--pop);
            }
          }
          &.has-error {
            &::before {
              content: "X";
              // content: var(--cancel);
              color: var(--pop-alt);
              // font-size: smaller;
            }
          }

          // &::after {
          //   content: "* " attr(data-error) !important;
          //   // display: flex;
          //   color: coral !important;
          //   font: {
          //     family: var(--bodyFont);
          //     weight: normal;
          //   }
          //   letter-spacing: normal;
          //   text-transform: none;
          // }
        }
      }
    }
  }
}
