/* ::::::::\ MENU /:::::::: */

.menu {
  overflow-y: scroll;
  border: var(--input);
  border-radius: var(--outside);
  transition: 0.2s ease-out;

  &:global {
    &.flex:not(.col) {
      justify-content: center;

      label:not(:last-of-type) {
        margin-right: 1em;
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    visibility: hidden;

    & + label {
      cursor: pointer;
      margin-bottom: 0.5em;
      padding: 0.5em;
      font: {
        family: var(--keyFont2);
        size: smaller;
        weight: bold;
      }
      text-transform: uppercase;
      line-height: 1em;
      border: var(--input);
      border-radius: var(--inside);
      transition: 0.1s ease-out;
    }

    &:checked + label {
      background-color: var(--green);
      color: var(--darkest);
    }
  }
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover: hover) {
  .menu input[type="radio"]:hover + label {
    background-color: var(--green);
    color: var(--darkest);
  }
}
