.password {
    position: relative;
}

.show {
    position: absolute;
    right: .5rem;
    font-size: 1.25rem;
    line-height: 1;
    z-index:2;
    transition: .1s ease-out;

    &:global {
        &.active {
            opacity: 1;
        }
        &.inactive {
            opacity: .5;
        }
    }
}

@media (hover:hover){
    .show:global:not(.active):hover {
        opacity: 1;
    }
}