.search {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border: 2px solid var(--pop);
  border-radius: 100px;
  box-sizing: border-box;

  .icon {
    --size: 1em;
    width: var(--size);
    height: var(--size);
    margin-right: 0.5em;

    svg {
      stroke: var(--green);
      stroke-width: 0.75px;
      fill: none;
      width: 100%;
      height: 100%;
    }
  }

  input {
    padding: 0;
    border: none;
    flex-shrink: 1;
  }
}
