.flex .table {
  align-self: stretch;
}

.table {
  position: relative;
  margin: 0;
  border-collapse: collapse;
  overflow-x: scroll;
  width: 100%;

  &:global {
    &.array {
      tr:global:not(.data-list) > *:first-child {
        display: none;
      }
    }
  }

  &::-webkit-scrollbar {
    cursor: pointer;
    display: block;
    height: 1ch;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mid);
    border-radius: 100px;
  }

  * {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & > * {
    white-space: nowrap;
  }

  .primary {
    background-color: var(--mid);
    color: var(--dark);
    font: {
      size: small;
      weight: 600;
    }
    text: {
      // align: right;
      transform: uppercase;
    }
    line-height: 1;
    padding: 0.25rem 0.5rem;
  }

  tr {
    position: relative;
    border-radius: var(--inside);

    &:global {
      &:not(.data-list) > * {
        max-width: 20ch;
        overflow: hidden;
      }

      &:not(.index) {
        padding-inline: 0.5em;
        text-align: center;
      }
    }
  }

  // &&&&&&&&&&&\ HEADER ROW /&&&&&&&&&&&

  thead {
    tr {
      background-color: var(--mid);
      border-radius: var(--inside);

      &:global {
        &:not(.data-list) {
          height: 2em;
        }
      }

      .header {
        color: var(--darkest);
      }
    }
  }

  .header,
  .index {
    color: var(--brite);
    font: {
      weight: 400;
      variant: small-caps;
    }
    text-transform: lowercase;
  }

  //  &&&&&&&&&&&\ TABLE BODY /&&&&&&&&&&&
  tbody {
    tr {
      &:global {
        &:not(.data-list) {
          cursor: pointer;

          td {
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .index {
        & > * {
          display: inline-block;
        }

        .entry-selector {
          --size: 1.25em;
          cursor: pointer;
          margin: 0 {
            right: 1ch;
          }
          padding: 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          vertical-align: bottom;
          width: var(--size);
          height: var(--size);
          border: var(--input) {
            radius: var(--inside);
          }

          &:checked::before {
            --size: 60%;
            content: "";
            display: block;
            background-color: var(--mid);
            width: var(--size);
            height: var(--size);
            border-radius: 1px;
          }
        }
      }

      .data-list {
        // grid-column: 2/-1;
        overflow: hidden;
        transition: 0.1s ease-out;

        &:global {
          &.closed {
            display: block;
            opacity: 0;
            max-height: 0;
          }

          &.open {
            opacity: 1;
          }
        }

        & > td {
          padding: 0.5em;
        }
      }
    }
  }
}

// %%%%%%%%%%%%%%%/ HOVER \%%%%%%%%%%%%%%%

@media (hover: hover) {
  tbody tr:not(.data-list):hover {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}
