/* ::::::::\ TOGGLE /:::::::: */

.input {
  position: absolute;
  visibility: hidden;
}

.toggle {
  --size: 1.25rem;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--pop);
  padding: 3px;
  width: calc(var(--size) * 2);
  height: var(--size);
  border-radius: 100px;
  transition: 0.2s ease-out;
  box-sizing: content-box;

  &::before {
    --size: inherit;
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    transition: inherit;
    background-color: var(--pop);
    border-radius: 50%;
  }
}

.input:checked + .toggle {
  background-color: var(--pop);

  &::before {
    --size: inherit;
    background-color: var(--darkest);
    transform: translateX(var(--size));
  }
}
