/* ::::::::\ TOGGLE /:::::::: */

.input {
  position: absolute;
  visibility: hidden;
}

.toggle {
  --size: 1.25rem;
  cursor: pointer;
  position: relative;
  padding: 3px;
  width: calc(var(--size) * 2);
  aspect-ratio: 2/1;
  border: var(--input) {
    radius: 100px;
  }
  transition: 0.2s ease-out;
  box-sizing: content-box;
  z-index: 100;

  &::before {
    --size: inherit;
    content: "";
    display: block;
    width: var(--size);
    aspect-ratio: 1/1;
    transition: inherit;
    background-color: var(--mid);
    border-radius: 50%;
  }
}

.input:checked + .toggle {
  background-color: var(--mid);

  &::before {
    --size: inherit;
    background-color: var(--darkest);
    transform: translateX(var(--size));
  }
}
