.wrapper {
  margin-bottom: 1em;
  padding: {
    block: 0.5em;
    inline: 0.5em 0;
  }
  border: var(--input) {
    radius: var(--inside);
  }

  .new {
    position: relative;
    // border: none !important;
  }

  .add-word {
    --size: 2rem;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    margin-inline: 0.5em;
    flex-shrink: 0;
    padding: 0;
    font-family: var(--bodyFont);
    text-align: center;
    line-height: 1;
    border: var(--input) {
      radius: 50%;
    }
    transition: 0.1s ease-out;

    &::before {
      content: var(--plus);
      font: {
        size: smaller;
        // weight: bold;
      }
    }
  }
}

.cache {
  padding: 0;

  .entry {
    cursor: pointer;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em;
    background-color: var(--pop);
    color: var(--darkest);
    line-height: 1;
    border-radius: 2px;

    .delete {
      cursor: pointer;
      display: inline-block;
      font: {
        size: 0.5em;
        weight: bold;
      }
      width: 0;
      overflow: hidden;
      opacity: 0;
      transform: scale(0.5);
      transition: 0.1s ease-out;

      &::after {
        content: var(--cancel-alt);
      }
    }
  }
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover: hover) {
  // .word-bank {}

  .wrapper button:hover {
    background-color: var(--green);
    color: var(--darkest);
  }

  .entry:hover {
    .delete {
      width: auto;
      padding-left: 1em;
      opacity: 0.5;
      transform: scale(1);

      &:hover {
        opacity: 1;
      }
    }
  }
}
