/* ::::::::\ WORD BANK /:::::::: */

.word-bank {
  border: 2px solid var(--green);
  box-sizing: border-box;
  border-radius: var(--outside);
}

.word-bank legend {
  font-size: small;
  text-transform: uppercase;
}

.word-bank .new-entry-wrap {
  margin-bottom: 1em;
  padding-block: .5em;
  padding-inline: .5em 0;
  box-sizing: border-box;
  border: 2px solid var(--green);
  border-radius: var(--inside);
}

.word-bank .new-entry-wrap input.new-entry {
  position: relative;
  border: none !important;
}

.word-bank .new-entry-wrap button {
  --size: 2em;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  margin-inline: .5em;
  border-radius: 50%;
  border: 2px solid var(--green);
  transition: .1s ease-out;
}

.word-bank .new-entry-wrap button::before {
  content: var(--plus);
  font-size: smaller;
  font-weight: bold;
}

.word-bank .entry-cache {
  padding: 0;
}

.word-bank .entry-cache .entry {
  cursor: pointer;
  margin: 0 .5em .5em 0;
  padding: .25em;
  background-color: var(--green);
  color: var(--dark);
  line-height: 1em;
  border-radius: 2px;
  box-sizing: border-box;
}

.word-bank .entry-cache .entry .delete-entry {
  cursor: pointer;
  display: inline-block;
  font-size: .5em;
  font-weight: bold;
  width: 0;
  overflow: hidden;
  opacity: 0;
  transition: .1s ease-out;
  /* border: 1px solid red; */
}

.word-bank .entry-cache .entry .delete-entry::after {
  content: "\2573";
}

.word-bank .entry-cache .entry:hover .delete-entry {
  width: auto;
  padding-left: 1em;
  opacity: .5;
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover:hover) {
  .word-bank .new-entry-wrap button:hover {
    background-color: var(--green);
    color: var(--dark);
  }
}